* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: transparent;
}



/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0a7c66;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav-links a:hover {

    color: #00715D;
}

/* .nav-links .active {
    color: #0a7c66;
    font-weight: 600;
} */


.btn-signup:hover {
    background-color: #39553f;
}

.btn-signup {
    background-color: #0a7c66;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 4px;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    height: 450px;
}


.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.hero-left p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}

.btn-primary {
    background-color: #0a7c66;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #39553f;
}



/* Right Side */
.hero-right {
    width: 50%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
}

.image-box {
    background-color: #f2c94c;
    padding: 40px;
    position: relative;
}

.image-box img {
    width: 350px;
    height: 300px;
    display: block;
    border-radius: 6px;
}


/* Page 2 */
.about_us {
    height: 685px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

/* Container */
.img-collection {
    position: relative;
    width: 500px;
    height: 500px;
    padding-left: 120px;
}

/* Top Image */
.img-top {
    position: absolute;
    padding-top: 150px;

    width: 380px;
    height: 450px;
    border-radius: 6px;
    z-index: 2;
}

/* Bottom Image */
.img-btm {
    /* position: absolute; */

    width: 420px;
    height: 500px;
    border-radius: 6px;
}

.aboutus_info {
    margin-left: 300px;
    width: 50%;
}


.aboutus_info h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.aboutus_info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}

/* Page 3 */
.our_mission {
    height: 602px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.ourmission_info {
    margin-left: 100px;
    width: 50%;
}


.ourmission_info h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #222;
}

.ourmission_info p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    width: 80%;
}

.grid_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    gap: 40px;
    /* space between boxes */
    max-width: 550px;
    margin: auto;
    padding: 50px 20px;
}

.icon {
    background-color: #0a7c66;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding-left: 4px;
    padding-top: 4px;
}

.grid_right_1 {
    text-align: left;
}



/* healyourself */

.heal_yourself {
    position: relative;
    height: 560px;

    overflow: hidden;
    align-items: center;
    display: flex;
}

.healimg {
    position: absolute;
    right: 0;

}

.healimg img {
    height: 600px;
    width: 700px;
    object-fit: cover;
    display: block;

}

.healyourself_info {
    position: absolute;
    top: 80px;
    right: 600px;

    width: 500px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}





.heal_border {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin-top: 15px;
}

.heal_icon {
    width: 35px;
    height: 35px;
    background-color: #00715D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heal_icon img {
    width: 16px;
    height: 16px;

}

/* blog page */
.blog {
    margin-top: 20px;
    height: 560px;
    position: relative;
}


.green-bg {
    height: 50%;
    background-color: #00715D;
    color: white;
    align-content: center;
    justify-items: center;

}



.cards {
    position: absolute;
    display: flex;
    gap: 62px;
    padding-top: 20px;

}

.card_body {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: black;
    height: auto;
    width: 220px;
    background-color: white;
}

.card_body img {
    height: 150px;
    width: 200px;
}

.card_body a {
    padding-bottom: auto;
}

/* FAQS */

.faq {
    position: relative;
    height: 560px;

    overflow: hidden;
    align-items: center;
    display: flex;
}

.faqimg {
    position: absolute;
    left: 0;

}

.faqimg img {
    height: 600px;
    width: 700px;
    object-fit: cover;
    display: block;

}

.faq_info {
    width: 600px;
    position: absolute;
    top: 60px;
    left: 600px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.faq_content {
    margin-top: 16px;
    width: 400px;


}

.faq_content h4 {
    color: #2A2D33;

    padding-top: 10px;
    font-family: Quicksand;
    font-weight: 300;

}





.faq_border {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin-top: 15px;
}

.faq_icon {
    width: 35px;
    height: 35px;
    background-color: #00715D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq_icon img {
    width: 16px;
    height: 16px;

}



/* Article Page */
.article {
    background-color: #FCFBF7;
    padding: 80px 100px;
}


.article_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.article_title p {
    font-size: 14px;
    color: #00715D;
}

.article_title strong {
    display: block;
    font-size: 36px;
    color: #222;
    margin-top: 8px;
}

/* View More Button */
.btn_viewmore {
    border: 1px solid #0a7c66;
    color: #0a7c66;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
}




/* Cards */
.article_cards {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
}

/* Left Big Card */
.article_left img {
    width: 100%;
    border-radius: 6px;
}

.article_left h3 {
    margin-top: 20px;
    font-size: 22px;
}

.article_left p {
    margin-top: 10px;
    color: #666;
}

/* Right Side */
/* Main div Right */
.article_right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Single card */
.article_small {
    display: flex;
    gap: 20px;
    align-items: center;
}

.article_small img {
    width: 160px;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.article_small h4 {
    margin-bottom: 8px;
}

.article_small p {
    font-size: 14px;
    color: #666;
}







/* Testimonial Pge*/
.testimonial{
    background-color:  #FCFBF7;
    padding: 80px 80px;
}

.testimonial_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.testimonial_title p {
    font-size: 14px;
    color: #00715D;
}

.testimonial_title strong {
    display: block;
    font-size: 36px;
    color: #222;
    margin-top: 8px;
}

/* View More Button */
.btn_viewmore {
    border: 1px solid #0a7c66;
    color: #0a7c66;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
}





.testimonial_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 80px;
}

.testimonial_small {
    display: flex;
    gap: 20px;
    align-items: center;
}

.testimonial_small img {
    width: 160px;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.testimonial_small h4 {
    margin-bottom: 8px;
}

.testimonial_small p {
    font-size: 14px;
    color: #666;
}





/* Contact Page */
.contact{
    height: 400px;
    display: flex;
   padding-top: 20px;
    background: #FCFBF7;

    

}

.contact_section{
    
    width: 50%;
    padding-left: 150px;
    
}

.contact_info{
    
    margin-top: 40px;
    display: flex;
   
}


.contact_info h4{
    font-weight: 300;
    padding-left: 10px;
}

/* .send_message{
    
} */

.form_fields input,textarea{
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 8px;
    height: 40px;
    margin-top: 10px;
    width: 400px;
}

.btn-sendmsg{
    margin-top: 20px;
    height: 50px;
    width: 120px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #00715D;
    color: white;
}


.footer{
    background-color: #0D0E0F;
    margin-top: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer img{
    height: 27px;
    width: 27px;
    margin-top: 21px;
    border-radius: 50%;
    margin-left: 15px;
    background-color: #f2c94c;
}

.footer_info{
    color: white;
    padding-bottom: 20px;
}